{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{label}} alert-dismissible fade show" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			{{message|raw}}
		</div>
	{% endfor %}
{% endfor %}
